<div id="top_title">
  <h1>Nos Propositions</h1>
</div>
<div class="container">
  <% @services.each do |service| %>
  <%= link_to service_path(service) do %>
    <div class="card-container">
      <%= cl_image_tag service.picture, class: "card-media" %>
      <div class="card-body">
        <span class="card-author subtle">
          <img class="chef" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt=""> <%= service.user.first_name %>
        </span>
        <% end %>
        <h2 class="card-title"><%= link_to service.menu_name, service_path(service) %></h2>
        <% if policy(service).destroy? %>
        <div class="button-delete"><%= link_to "Delete your menu", service_path(service),
        method: :delete,
        data: { confirm: "are you sure ?"}  %></div>
        <% end %>
      </div>
  </div>
<% end %>
</div>
  <div id="index_footer">
    <div class="footer-button"> <%= link_to "Ajouter un nouveau menu", new_service_path %></div>
    <div class="footer-button"><%= link_to "Retour à la page Home", root_path %></div>
  </div>
