<div id="top_title">
  <h1>Nos Propositions</h1>
</div>
<div class="container">
  <% @services.each do |service| %>
  <%= link_to service_path(service) do %>
  <div class="card-container">
    <%= cl_image_tag service.picture, class: "card-media" %>
    <div class="card-body">
      <span class="card-author subtle">
        <%= cl_image_tag current_user.avatar, height: 300, width: 400, crop: :fill, crop: :thumb, gravity: :face, :class => "avatar"%> <%= service.user.first_name %>
        <% if policy(service).destroy? %>
        <div class="button-delete"><%= link_to "+", service_path(service),
          method: :delete,
          data: { confirm: "are you sure ?"}, class: "card-remove-link" %>
          <% end %>
        </div>
      </span>
      <div class="card-title">
        <h2 ><%= link_to service.menu_name, service_path(service) %></h2>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<div id="index_footer">
  <div class="button-footer"> <%= link_to "Ajouter un nouveau menu", new_service_path %></div>
  <div class="button-footer"><%= link_to "Retour à la page Home", root_path %></div>
</div>
