<div id="top_title">
  <h1>Nos Propositions</h1>
</div>
<div class="container">
  <% @services.each do |service| %>
    <%= link_to(service) do %>
      <div class="card-container">
        <%= cl_image_tag service.picture, class: "card-media" %>
        <div class="card-body">
          <div class="card-author subtle">
            <%= cl_image_tag service.user.avatar, height: 30, width: 30, crop: :fill, gravity: :face, class: "avatar"%>
            <span><%= service.user.first_name %></span>
            </div>
            <% if policy(service).destroy? %>
                <%= link_to service, method: :delete,
                data: { confirm: "are you sure ?"} do %>
                 <i class="far fa-times-circle close-icon"></i>
                 <% end %>
            <% end %>

          <div class="card-title">
            <h2>
              <%= link_to service.menu_name, service_path(service) %>
            </h2>
            <% if service.bookings.blank? %>
              <div class="card-info">
                <p> Disponible </p>
              </div>
            <% else %>
              <div>
                <p>Pas Disponible</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="index_footer">
  <div class="button-footer">
    <%= link_to "Ajouter un nouveau menu", new_service_path %>
  </div>
  <div class="button-footer">
    <%= link_to "Retour à la page Home", root_path %>
  </div>
</div>
