<div class="container">
  <div class="col-xs-12 text-center heading show-from-sm">
    <h3>Nos propositions</h3>
    <div class="container">
      <div class="row">
        <% @services.each do |service| %>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <%= link_to service_path(service) do %>
          <div class="little-container-index">
            <div class="card-media" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%),
              url(<%= cl_image_path service.picture, height: 230, width: 750, crop: :fill%>);">
              <div class="card-body">
                <span class="card-author subtle">
                  <%= cl_image_tag service.user.avatar, height: 50, width: 50, crop: :fill, gravity: :face, class: "chef"%>
                  <%= service.user.first_name %>
                </span>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to service.menu_name, service_path(service), class: "service-title-index" %>
              <% if service.bookings.blank? %>
              <div class="card-info-index-available">
                <p> Disponible </p>
              </div>
              <% else %>
              <div class="card-info-index-unavailable">
                <p>Pas Disponible</p>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
              <div id="index_footer">
  <div class="button-footer">
    <%= link_to "+ Ajouter un nouveau menu", new_service_path %>
  </div>
  <div class="button-footer">
    <%= link_to "Retour à la page Home", root_path %>
  </div>
</div>
    </div>
