<h1>Je crée ma prestation</h1>

<%= simple_form_for @service do |f| %>
<%= f.error_notification %>
<%= f.input :menu_name, label: "Nom du menu"%>
<%= f.input :menu %>
<%= f.input :price, label: "Prix par convive" %>
<%= f.input :max_quantity, label: "Nombre de couverts" %>
<%= f.input :category %>
<%= f.input :date, label: "Disponibilité" %>
<%= f.input :shift, collection: ['Midi', 'Soir'], label: "Midi ou Soir" %>
<%= f.input :picture, label: "Photo du menu"%>
<!-- add cloudinary public api "string" -->
<%= f.button :submit %>
<% end %>
