<h1>Services#new</h1>
<p>Find me in app/views/services/new.html.erb</p>

<%= simple_form_for @service do |f| %>
<%= f.error_notification %>
<%= f.input :menu_name %>
<%= f.input :menu %>
<%= f.input :price %>
<%= f.input :max_quantity %>
<%= f.input :category %>
<%= f.input :date %>
<%= f.input :shift %>
<%= f.input :picture %>
<!-- add cloudinary public api "string" -->
<%= f.button :submit %>
<% end %>
