<div class="container">
  <div id="show_banner">
     <div class="card-container">
      <%= cl_image_tag @service.picture, height: 300, width: 700, crop: :fill %>
    <span class="manu-name">
    <%= @service.menu_name %>
    </span>
  </div>
  <div>
    <h1> NOM DU CHEF : <%= @service.user.first_name %> <%= @service.user.last_name %> </h1>
    <h5>AVATAR DU CHEF</h5>
    <h3> NOM DU MENU: <%= @service.menu_name %></h3>

  </div>
  <div>

    <p><%= @service.menu %></p>
    <p><%= @service.price %></p>
    <p><%= @service.max_quantity %></p>
    <p><%= @service.category %></p>
    <p><%= @service.date %></p>
    <p><%= @service.shift %></p>
  </div>
</div>

<%= link_to "RESERVER CETTE PRESTATION", new_service_booking_path(@service) %>

<%= link_to "retour à l'index", services_path %>
<% if policy(@service).edit? %>
<%= link_to "éditer le menu", edit_service_path(@service) %>
<% end %>


