<div class="container">
  <div id="show_banner">
    <div class="card-container">
      <%= cl_image_tag @service.picture, height: 300, width: 700, crop: :fill %>
      <span class="menu-name">
        <%= @service.menu_name %>
      </span>
      </div>
    </div>
    <div>
       <h4><strong> NOM DU CHEF : <%= @service.user.first_name %> <%= @service.user.last_name %> </strong></h4>
    </div>
    <div>
       <div class="card-info"><p><strong><%= "Categorie:   " %></strong> <br><%= @service.category %></p></div>
       <div class="card-info"><p><strong><%= "Description du menu:   " %></strong> <br><%= @service.menu %></p></div>
      <div class="card-info"><p> <strong><%= "Date:   " %></strong> <br> <%= @service.date %></p></div>
      <div class="card-info"><p> <strong><%= "Shift:   " %> </strong><br><%= @service.shift %></p></div>
      <div class="card-info"><p><strong><%= "Prix par personnes:   " %> </strong> <br><%=  @service.price %></p></div>
      <div class="card-info"><strong><p><%= "Nombre de personnes:   " %></strong><br> <%=  @service.max_quantity %></p></div>
    </div>
  </div>
  <div id="index_footer">
    <div class="button"><%= link_to "RESERVER CETTE PRESTATION", new_service_booking_path(@service) %></div>
   <br> <div class="button"><%= link_to "retour à l'index", services_path %></div>
    <% if policy(@service).edit? %>
    <%= link_to "éditer le menu", edit_service_path(@service) %>
    <% end %>
  </div>
