<h1> NOM DU CHEF : </h1>
<h5>AVATAR DU CHEF</h5>
<h3> NOM DU MENU: <%= @service.menu_name %></h3>
<p>Find me in app/views/services/show.html.erb</p>

<p>chef.avatar = @service.user.avatar ?</p>

<%= cl_image_tag @service.picture, height: 300, width: 400, crop: :fill %>


<p><%= @service.menu_name %></p>
<p><%= @service.menu %></p>
<p><%= @service.price %></p>
<p><%= @service.max_quantity %></p>
<p><%= @service.picture %></p>
<p><%= @service.category %></p>
<p><%= @service.date %></p>
<p><%= @service.shift %></p>


<%= link_to "retour à l'index", services_path %>
<%= link_to "éditer le menu", edit_service_path(@service) %>











