<!-- La vue qui retourne ET la liste des bookings quand je passe par l'action
index ou show de bookings ET la liste des services du chef qui ont ete reserve
quand je passe par l'action list_chief_bookings -->
<ul>
  <% bookings.each do |booking| %>
  <% if booking.service.date > Date.today %>
  <li>
    <div id="booking-full">
      <div id="booking-photo">
        <%= cl_image_tag booking.service.picture, height: 120, width: 280, crop: :fill %>
      </div>
      <div id="booking-content">
        Menu - <%=link_to "#{booking.service.menu_name}", booking%> <br>
        Votre addresse de réservation - <%= booking.place %> <br>
        Le <%= booking.service.date %> <br>
        <%= link_to "annuler la réservation", booking_path(booking),
        method: :delete,
        data: { confirm: "are you sure ?"}  %>
      </div>
    </div>
    <% end %>
    <% end %>
  </li>
</ul>
