<h1><%=@booking.service.menu_name%></h1>
<ul>
  <li>
    <%= @booking.service.menu %>
  </li>
  <li>
    <%= @booking.place %>
  </li>
  <li>
    <%= @booking.service.date %>
  </li>
  <li>
    <%= @booking.service.shift %>
  </li>
  <li>
    <%= @booking.quantity %>
  </li>
  <li>
    <%= @booking.service.price %>
  </li>
</ul>
